<!DOCTYPE html>
<html>
<head><title>Link Viewer</title></head>
<body style="background:<%= theme==='dark'?'#121212':'#fff' %>;color:<%= theme==='dark'?'#fff':'#000' %>">
<iframe src="<%= url %>" style="width:100%;height:90vh;border:none;"></iframe>
<a href="/">Back</a>
</body>
</html>
